.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: white;
}

.header {
  display: flex;
  align-items: center;
  padding: 20px;
}

.logoContainer {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo {
  height: 40px;
  width: auto;
}

.companyName {
  font-size: 1.5rem;
  font-weight: bold;
  color: #0d2a27;
}

.vitaminsSection {
  background-color: #e0f7ff; 
  padding: 40px 20px;
  margin-left: 3%;
  margin-right: 3%;
  height: 500px;
}

.sectionHeading {
  text-align: center;
  font-size: 2rem;
  color: #333;
  margin-bottom: 20px;
}

.vitaminsContent {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 20px;
  padding-left: 20%;
  padding-right: 20%;
}

.textLeft, .textRight {
  flex: 1;
  font-size: 1.2rem;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.smallContent {
  color: #6b6b6b;
}

.largeContent {
  color: #162f39;
}

.smallContent1 {
  margin-top: -11%;
  color: #6b6b6b;
}


.exploreButton {
  background-color: #162f39;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 40px;
  width: 150px;
  cursor: pointer;
  margin-top: 4%;
}

.vitaminsImage {
  width: 300px;
  height: auto;
}

.grayCircles {
  margin-top: 2%;
  display: flex;
  gap: 8px;
  margin-left: 20%;
}

.circle {
  width: 30px;
  height: 30px;
  background-color: rgb(182, 181, 181);
  border-radius: 50%;
}

.greenSection {
  background-color: #162f39; 
  border-radius: 15px;
  padding: 20px;
  margin: -50px auto 0; 
  width: 80%; 
  text-align: center;
  color: white;
}

.greenSectionHeading {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.greenSectionText {
  font-size: 1rem;
  line-height: 1.5;
}


.whiteStripe {
  height: 20px;
  background-color: white;
}

.footer {
  height: 80px;
  background-color: #162f39;
}
